* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f5f5f9;
}

/* navbar */

nav {
  width: 100%;
  background-color: #1c539f;
  padding-top: 10px;
}

.nav-content .nav-logo {
  height: 60px;
  margin: auto;
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-logo img {
  width: 200px;
}

/* general article content */

article {
  width: 100%;
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
  margin-bottom: 48px;
}

article section {
  width: 50%;
}

article h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

article h2 {
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 10px;
}

article h3 {
  font-size: 1rem;
  font-weight: 700;
}

article p {
  font-size: 1rem;
}

/* profile */

.profile {
  display: flex;
  gap: 20px;
  align-items: flex-end;
}

.profile-picture img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 999999px;
}

/* work experience */

.experience {
  margin: 24px 0;
}

.experience div {
  display: flex;
  justify-content: space-between;
}
