{% extends "base.html" %} {% block title %}{{ title }}{% endblock %} {% block
head %}
<link lang="css" rel="stylesheet" href="./static/styles/main.css" />
{% endblock %} {% block content %}
<article>
  <section class="profile">
    <div class="profile-picture">
      <img src="./static/img/portrait.png" />
    </div>
    <h1>{{ title }}</h1>
  </section>

  <section>
    <h2>About Me</h2>
    <p>
      Hello! I'm a full-stack developer with a love for building software and
      tinkering with new technologies. I enjoy creating applications that solve
      real-world problems and enhance user experiences.
    </p>
    <br />
    <p>
      This summer, I'm taking a fellowship with Meta and MLH, where I will be
      learning more about production engineering to understand how to build and
      maintain large-scale systems. This website is a part of that, and also a
      way for me to showcase my work and share my journey with others.
    </p>
  </section>

  <section>
    <h2>Work Experience</h2>
    {% for exp in experiences %}
    <div class="experience">
      <div>
        <h3>{{ exp.title }}</h3>
        <p>{{ exp.date }}</p>
      </div>
      <div>
        <p>{{ exp.company }}</p>
        <p>{{ exp.location }}</p>
      </div>
    </div>
    {% endfor %}
  </section>

  <section>
    <h2>Education</h2>
    <div class="experience">
      <div>
        <h3>University of California, Berkeley</h3>
        <p>Expected graduation May 2026</p>
      </div>
      <div>
        <p>Bachelor of Arts in Computer Science</p>
        <p>3.9 GPA</p>
      </div>
    </div>
  </section>
</article>
{% endblock %}
